[General]
; General configuration for the program

# Number of dino to create (should be an even number)
population_size = 100
use_multi_thread = yes

[Neurones]
; Configuration for dino neurones

# With value range to init the weight of the neurones. The range is -value +value
neurones_weight_value_range = 1.0

# List of all the inputs for neurones
inputs = distance first, distance between, speed

# activation function
neurones_activation_functions = sigmoid


[Genetic]

init_population_fun = random_uniform_init
select_mates_fun = generic_selection_couple
reproduction_fun = uniform_crossover
mutation_fun = mutation_gaussian
mutate_ratio = 0.1
crossover_ratio = 0.5
