[General]
; General configuration for the program

# Number of dino to creat
population size = 100

[Neurones]
; Configuration for dino neurones

# With value range to init the weight of the neurones. The range is -value +value
neurones weight value range = 1.0

# List of all the inputs for neurones
inputs = distance first, distance between, speed

# activation function
neurones activation functions = sigmoid
